pkgbase = pangolin-bin
	pkgdesc = Pangolin Client - Secure reverse proxy and tunnel (Binary version)
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/fosrl/cli
	install = pangolin-bin.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	arch = riscv64
	license = AGPL-3.0-or-later
	provides = pangolin
	conflicts = pangolin
	source_x86_64 = pangolin::https://github.com/fosrl/cli/releases/download/0.6.0/pangolin-cli_linux_amd64
	sha256sums_x86_64 = 2e2e1f78ed8517633e6e05823e2e2808b3d8d8730005797732777b0f3e27c7ec
	source_aarch64 = pangolin::https://github.com/fosrl/cli/releases/download/0.6.0/pangolin-cli_linux_arm64
	sha256sums_aarch64 = 74e24dff95a86bead5731fa51c2d018a29d6db602847b3e8fdc9fc8dd02c1408
	source_armv7h = pangolin::https://github.com/fosrl/cli/releases/download/0.6.0/pangolin-cli_linux_arm32
	sha256sums_armv7h = 8c02292aeac56ba192556118f5a564935a16dc2fddbfd5869ac41427b69fc60a
	source_armv6h = pangolin::https://github.com/fosrl/cli/releases/download/0.6.0/pangolin-cli_linux_arm32v6
	sha256sums_armv6h = c077c28bf0f40c5ae160d7718ec0379a5c794429d816b3bc928eff0e6a6fc082
	source_riscv64 = pangolin::https://github.com/fosrl/cli/releases/download/0.6.0/pangolin-cli_linux_riscv64
	sha256sums_riscv64 = edd6423e5556e70a51037aa75b4a6cacc1b9043e3c4a87ebfb42a4161769b505

pkgname = pangolin-bin
